<ion-header>
  <ion-toolbar color="dark">
    <ion-title text="center">Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="icon" src="assets/icon/icon1.png">

  <ion-item color="dark">
    <ion-label position="floating">Correo electronico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="onSubmitLogin()" color="dark" expand="block">Entrar</ion-button>

</ion-content>

<ion-footer padding>
  <p align="center"> &copy; Dorian Barboza 2019 </p>
</ion-footer>
