<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item>
    <ion-item>
    <ion-avatar>
      <ion-img src="https://picsum.photos/200"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Chat online</h2>
      <h3>Pagina de pruebas</h3>
      <p>Lista boton click y accede</p>
    </ion-label>
    </ion-item>
  </ion-item>
</ion-list>

  <ion-button (click)="Onlogout()">Cerrar Sesion</ion-button>
</ion-content>
